html {
  box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
html, body, #app {
  height: 100%;
}
label {
  font-weight: 700;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
a, a:hover, a:active {
  text-decoration: none;
}
.pointer {
  cursor: pointer;
}
