.app-wrapper {
  height: 100%;
  background-color: #fff;
  padding-top: $header_height;
  background-color: #ebf1f6;
  
  .app-header {
    height: $header_height;
    margin-top: -$header_height;
    line-height: $header_height;
    vertical-align: middle;

    .logo,
    .hamburger-container,
    .breadcrumb-container {
      float: left;
    }

    .logo {
      height: 100%;
      width: $sidebar_width;
      background: url(../assets/logo.png) no-repeat center;
      background-size: contain;
      text-indent: -9999px;
    }

    .hamburger-container {
      height: 100%;
      width: 50px;
      text-align: center;
      transform: translateY(3px);
    }

    .app-header-right {
      float: right;
    }
  }
  .app-content {
    height: 100%;
    padding-left: $sidebar_width;

    .app-sidebar {
      position: absolute;
      top: $header_height;
      left: 0;
      bottom: 0;
      width: $sidebar_width;
    }

    .app-main-wrapper {
      height: 100%;
    }
  }
  
  &.collapse {
    .app-header {
      .logo {
        width: $sidebar_collapse_width
      }
    }

    .app-content{
      padding-left: $sidebar_collapse_width;
      .app-nav {
        width: $sidebar_collapse_width;
        margin-left: -$sidebar_collapse_width;
      }
    }
  }
}
.animation {
  .app-header {
    .logo {
      transition: width .35s ease-out;
    }
  }

  .app-content {
    transition: padding-left .35s ease-out;
    .app-nav {
      transition: width .35s ease-out, margin-left .35s ease-out;
    }
  }
}

.el-menu {
  background: transparent;
}

.app-left-menu {
  border-right-width: 0px!important;
  &.el-menu--collapse {
    .menu-wrapper{
      .el-menu-item span,
      .el-submenu>.el-submenu__title span {
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        display: inline-block;
      }

      .el-submenu>.el-submenu__title .el-submenu__icon-arrow {
        display: none;
      }
    }
  }
}

.scrollbar-wrapper {
  overflow-x: hidden!important;
  .el-scrollbar__view {
    height: 100%;
  }
}
.el-scrollbar__bar.is-vertical{
  right: 0px;
}